# ----------------------
# Python
# ----------------------
ipython

# ----------------------
# Flask
# ----------------------
Flask
Flask-OAuth
Flask-Script

# ----------------------
# MongoDB
# ----------------------
mongoengine
flask-mongoengine

# ----------------------
# Linkedin
# ----------------------
linkedin
