{% extends "base.html" %}

{% block main %}
<div class="container">
	<div class="row-fluid">
		<div class="span7">
			<img src="/static/images/CitiConnectCollage.jpg">
		</div>
		<div class="span5">
			 <div class="hero-unit no-background">
	      		<center>
	      			<h3>Your Network.</h3><h3>Your Experience.</h3><h3>Your Score.</h3>
	        		<p><a href="/login" class="btn btn-large btn-danger">Sign In with Linked In</a></p>
	      		</center>
	  		</div>
		</div>
	</div>
</div>

{% endblock main%}
