{% extends "base.html" %}

{% block main %}
<div class="container">
	<div class="row-fluid">
		<div class="span6">
			<img src="http://2.bp.blogspot.com/-gSgRJ_KRLQ0/UUStxF5ubZI/AAAAAAAACYs/SvcjexTEJTA/s1600/Business-women-one-jump.jpg">
		</div>
		<div class="span6">
			 <div class="hero-unit">	
	      		<center>
	      			<p>Your Network.<br>Your Experience.<br>Your Score.</p>
	        		<p><a href="/login" class="btn btn-large btn-primary">Sign In with Linked In</a></p>
	      		</center>
	  		</div>
		</div>
	</div>
</div>

{% endblock main%}
