{% extends "base.html" %}

{% block main %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span8 offset2">
			<div class="hero-unit">
				<h2><b>HOW CAN YOU IMPROVE YOUR SCORE?</b></h2>

					<h3>My Network</h3>
						<ol>
							<li>Add more connections to your LinkedIn profile.</li> 
							<li>Connect with members of the “Connect” LinkedIn group</li>
						</ol>
					<hr>

					<h3><b>My Resume</b></h3>
						<ol>
							<li>Ask your contacts - past colleagues, mentors, etc - for LinkedIn recommendations.</li>
						<li>Correctly add all your work history to your LinkedIn profile.</li>
						<li>Correctly add all your education to your LinkedIn profile.</li>
						</ol>
					<hr>

					<h3><b>My Activity</b></h3>
					<ol>
						<li>Join groups on LinkedIn.</li>
						<li>Engage with your connections (send messages, comment on posts).</li>
					</ol>

				</p>
			</div>
		</div>
	</div>
</div>

{% endblock main%}
