{% extends "base.html" %}

{% block main %}

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="hero-unit">
	  
	<div class="row-fluid">
	  <div class="span2 offset10">
	    <img src="{{ picture }}">
            <a href="{{ user.prof_url }}" target="_blank" class="btn btn-inverse full-name">{{ user.first_name }} {{ user.last_name }}</a>
	  </div>
	</div>

      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4">
      <div class="well">
	<h3>Network Score:</h3>
	<center>
	  <span class="score">{{ '%0.2f' | format(user.network_score) }}</span>
	</center>
      </div>
    </div>

    <div class="span4">
      <div class="well">
	<h3>Resume Score:</h3>
	<center>
	  <span class="score">{{ '%0.2f' | format(user.resume_score) }}</span>
	</center>
      </div>
    </div>

    <div class="span4">
      <div class="well">
	<h3>Activity Score:</h3>
	<center>
	  <span class="score">{{ '%0.2f' | format(user.activity_score) }}</span>
	</center>
      </div>
    </div>

  </div>
</div>

{% endblock main %}
